@use "colors" as c;
@use "breakpoints" as b;

html {
  box-sizing: border-box;
  font-size: 100%;
}

*,
*::before,
*::after {
  box-sizing: inherit;
  margin: 0;
  padding: 0;
  color: c.$text-color;
}

*:hover{
  color: c.$text-hover-color;
}

body {
  background-color: c.$background-color;
  overflow: hidden;

  @include b.breakpoint(small) {
    overflow: visible;
  }
}


