@use "../colors" as c;
@use "../fonts" as f;

$routine-width: 460px;
$routine-heigth: 330px;
$routine-border: 4px;

.routine {
  border: $routine-border solid rgba($color: #e92626, $alpha: 1);
  background-color: c.$background-color;

  width: $routine-width;
  height: $routine-heigth;
  margin: 70px 0px 0;

  transition: 0.3s;
}

.routine:hover {
  transform: scale(1.1);
}
