@use "../colors" as c;
@use "../fonts" as f;
@use "routine__case" as case;

.routine__input {
  font-size: f.$size;
  font-family: f.$open-sans;
  font-weight: f.$weight;
  text-align: center;

  //margin-left: case.$case-margin;
  //border: none;

  width: case.$case-width + case.$case-margin * 2;
  height: case.$case-height;

  background-color: inherit;
}

.routine__input:focus {
  outline: none;
  caret-color: #040057;
}
