@use "../colors" as c;
@use "../breakpoints" as b;
@use "routine__case" as case;
@use "../fonts" as f;

.routine__empty {
  font-size: f.$size;
  font-family: f.$open-sans;
  font-weight: f.$weight;

  border: none;
  margin: 0 case.$case-margin;

  width: case.$case-width;
  height: case.$case-height;

  cursor: pointer;
  background-color: rgba(0, 255, 255, 0.1);
  transition: 0.3s;

  @include b.breakpoint(xlarge) {
    font-size: f.$size-large;

    width: case.$case-width-large;
    height: case.$case-height-large;
    margin: 0 case.$case-margin-large;
  }

  @include b.breakpoint(large) {
    font-size: f.$size-medium;

    width: case.$case-width-medium;
    height: case.$case-height-medium;
    margin: 0 case.$case-margin-medium;
  }
}

.routine__empty:hover, .routine__empty:active {
  background-color: c.$case-hover-color;
}

