@use "../colors" as c;
@use "routine__case" as case;
@use "../fonts" as f;

.routine__empty {
  font-size: f.$size;
  font-family: f.$open-sans;
  font-weight: f.$weight;

  border: none;
  margin: 0 case.$case-margin;

  width: case.$case-width;
  height: case.$case-height;

  cursor: pointer;
  background-color: inherit;
  transition: 0.3s;
}

.routine__empty:hover {
  background-color: c.$case-hover-color;
}
