@use "../colors" as c;
@use "routine" as routine;

$case-margin: 15px;
$case-width: calc(
  routine.$routine-width - routine.$routine-border * 2 - $case-margin * 2
);
$case-height: 30px;

.routine__case {
  display: flex;
  align-items: center;
  border: none;
  margin: 0 $case-margin;

  width: $case-width;
  height: $case-height;

  background-color: inherit;
}
